[Unit]
Description=uWSGI instance to serve ctfd server
After=network.target

[Service]
User={{ service_user }}
Group=www-data
WorkingDirectory={{ server_app_path }}
Environment="PATH={{ venv_path }}/{{ venv_name }}/bin"
EnvironmentFile={{ enviroment_file_path }}
ExecStart={{ venv_path }}/{{ venv_name }}/bin/uwsgi --ini {{ uwsgi_config_path }}

[Install]
WantedBy=multi-user.target